/**********STYLING FOR PORTFOLIO*************/

.coding, .designcontent {
  padding-bottom: 1em;
}

a {
  text-decoration: none;
  color: white;
}

p {
  font-style: italic;
  font-size: 1.3em;
  letter-spacing: .1em;
  text-shadow: 0 0 2px, 0 0 4px gray;
  font-family: Cabin;
}

html {
  background-color: rgba(0, 0, 0, .6);
  background: url(../img/nightsky.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}

body {
  /*background-color: black;*/
}

.sectiontitle {
  font-family: Lalezar;
  height: 1em;
  letter-spacing: .1em;
}

ul.topnav {
  list-style-type: none;
  margin: 0 auto;
  padding: 15px;
  overflow: hidden;
  /*background-color: black;*/
  text-align: center;
  /*box-shadow: 0px 0px 40px, 0px 0px 40px gray;*/
}

/*Make the links inside the nav horizontal*/
ul.topnav li {
  display: inline;
  margin-left: 5%;
  margin-right: 5%;
}

ul.topnav li a {
  color: white;
  text-decoration: none;
  padding: 5px 5px;
  font-size: 20px;
  display: inline;
  transition: 0.3s;
  font-family: Cabin;
  text-shadow: 0 0 3px, 0 0 4px gray;
  position: relative;
}

ul.topnav li a:hover {
  text-shadow: 0px 0px 25px, 0px 0px 25px gray;
}

/*Hide nav icon that shows nav bar when screens are small*/
ul.topnav li.icon {
  display: none;
}

#homepage, #codingpage, #designpage, #aboutpage {
  height: 65vh;
}

#introcontent {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;

  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;

  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;

  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;

  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;

  color: white;
  font-family: 'cabin';
  line-height: 10px;
  letter-spacing: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  position: fixed;
  min-width: 1000em;
  padding: 2em;
  /*background-color: rgba(255, 255, 255, .025);*/
  -moz-animation: lights 1s ease-in-out;
  animation: lights 1s ease-in-out;
  text-shadow: 0 0 2px, 0 0 4px, 0 0 7px, 0 0 10px gray;
  letter-spacing: 5px;
}

#codingcontent, #designcontent {
  height: 100%;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  -moz-justify-content: center;
  /*background-color: gray;*/
}

.projects, #aboutcontent  {
  margin-top: 1em;
}

#line {
  width: 30em;
  border-bottom: 5px solid white;
  box-shadow: 0px 0px 7px, 0px 0px 7px gray;
  margin-top: 1em;
  margin-bottom: 1em;
}

@-webkit-keyframes lights {
  from{
    text-shadow: 0px 0px 10px,
    0px 0px 10px,
    0px 0px 25px,
    0px 0px 25px,
    0px 0px 25px,
    0px 0px 25px,
    0px 0px 25px,
    0px 0px 25px,
    0px 0px 50px,
    0px 0px 50px,
    0px 0px 50px gray,
    0px 0px 150px gray;
    /*0px 10px 100px gray,
    0px 10px 100px gray,
    0px 10px 100px gray,
    0px 10px 100px gray,
    0px 10px 100px gray,
    0px 10px 100px gray;*/
  }
}

@-moz-keyframes lights {
  from{
    text-shadow: 0px 0px 10px,
    0px 0px 10px,
    0px 0px 25px,
    0px 0px 25px,
    0px 0px 25px,
    0px 0px 25px,
    0px 0px 25px,
    0px 0px 25px,
    0px 0px 50px,
    0px 0px 50px,
    0px 0px 50px gray,
    0px 0px 150px gray;
    /*0px 10px 100px gray,
    0px 10px 100px gray,
    0px 10px 100px gray,
    0px 10px 100px gray,
    0px 10px 100px gray,
    0px 10px 100px gray;*/
  }
}

@keyframes lights {
  from{
    text-shadow: 0px 0px 10px,
    0px 0px 10px,
    0px 0px 25px,
    0px 0px 25px,
    0px 0px 25px,
    0px 0px 25px,
    0px 0px 25px,
    0px 0px 25px,
    0px 0px 50px,
    0px 0px 50px,
    0px 0px 50px gray,
    0px 0px 150px gray;
    /*0px 10px 100px gray,
    0px 10px 100px gray,
    0px 10px 100px gray,
    0px 10px 100px gray,
    0px 10px 100px gray,
    0px 10px 100px gray;*/
  }
}

#introcontent h1 {
  font-size: 5em;
  font-family: 'Righteous', cursive;
  /*animation: lights 1s ease-in-out infinite alternate;*/
}

#introcontent h2 {
  font-size: 40px;
}

#codingpage h1, #designpage h1, #aboutpage h1 {
  color: white;
  text-shadow: 0 0 5px, 0 0 5px gray;
  font-size: 5em;
  margin-top: .25em;
  margin-bottom: .25em;
  -webkit-animation: lights 1s ease-in-out;
  -moz-animation: lights 1s ease-in-out;
  animation: lights 1s ease-in-out;
  animation: lights 1s ease-in-out;
}

#codingpage, #designpage, #aboutpage {
  display: none;
  text-align: center;
  color: white;
  height: 100%;
}

.projects {
  height: 100%;
  width: 55em;
  margin-bottom: 2em;
  /*background-color: gray;*/
}

.portfolioproject {
  height: 2.25em;
  width: auto;
  color: white;
  padding-top: 1em;
  padding-bottom: -1em;
  font-family: Lalezar;
  font-size: 2.5em;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  text-shadow: #000 0px 0px 20px,   #000 0px 0px 20px,   #000 0px 0px 20px,
  #000 0px 8px 0px,   #000 0px 8px 0px,   #000 0px 8px 0px;
  background-size: cover;
  /*background-color: rgba(128, 128, 128, .5);*/
  text-align: center;
  /*margin-bottom: 15px;*/
}

.portfolioproject:hover, .active {
  background-color: white;
  color: gray;
  background-image: none !important;
  text-shadow: none;
  margin: 0;
}

.projectcontent {
  background-color: white;
  width: auto;
  height: auto;
  color: black;
  display: none;
}

.description {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;

  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;

  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;

}

.projectcontent p {
  width: 40em;
  margin: 0px 10em 1em 10em;
  text-shadow: none;
  font-style: normal;
  font-weight: bold;
  font-size: 1em;
  text-align: left;
}

.projecticon {
  width: auto;
  height: 400px;
  margin-bottom: 2em;
}

#aboutcontent p {
  text-align: center;
  line-height: 1.5em;
  text-shadow: none;
  padding: 1em;
}

#aboutcontent {
  height: auto;
}

#bio {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  -moz-justify-content: center;
  font-family: Cabin;
  letter-spacing: .2em;
}

#profilepic{
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  width: 300px;
  height: 300px;
  /*background-color: gray;*/
  border-radius: 50%;
  background: url("../img/GA-Headshots.jpg");
  background-size: cover;
}

button {
  width: 250px;
  height: 50px;
  border: 3px solid white;
  background-color: transparent;
}

button a {
  text-decoration: none;
  color: white;
  font-family: cabin;
  letter-spacing: .25em;
}

.designcontent {
  display: block;
  height: auto;
}

.designcontent img {
  height: 50%;
  width: 50%;
  margin: 1em;
}

#coinstar img {
  height: 90%;
  width: 90%;
}

#sba img {
  height: 80%;
  width: 80%;
}

.coding {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
}

#profiledescription {
  width: 35em;
}

#profiledescription p {
  text-align: center;
  font-size: 1em;
  font-style: normal;
  background-color: rgba(255, 255, 255, .5);
  color: black;
}

#dropbox {
  border: 1px solid white;
  box-shadow: 0 0 2px, 0 0 4px gray;
}

.footer {
  background-color: gray;
  padding: 1em;
}

/*.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}

footer, .push {
  height: 50px;
  text-align: center;
  background-color: gray;
}*/

/*When screen is less than 680px, hide all the list items and show the nav icon*/
@media screen and (max-width: 650px) {
  body {
    height: 100%;
  }

  #homepage {
    height: 70%;
  }

  #codingpage, #designpage {
    height: auto;
  }

  #introcontent {
    padding-top: 0;
    animation: none;
    -webkit-animation: none;
    -moz-animation: none;
    top: 25%;
    bottom: 50%;
  }

  #codingpage h1, #designpage h1, #aboutpage h1 {
    animation: none;
    -webkit-animation: none;
    -moz-animation: none;
  }

  #introcontent h2 {
    margin-bottom: 0;
  }

  .projects {
    width: auto;
    margin-bottom: 0;
  }

  ul.topnav {
    padding: 5px;
    position: relative;
    background-color: rgba(0, 0, 0, .4)
  }

  ul.topnav li {
    display: none;
    margin: 20px;
  }

  ul.topnav li.icon {
    display: inline-block;
    float: right;
  }

  #introcontent {
    min-width: 0;
    text-align: center;
    padding: 1.5em;
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    border: none;
    box-shadow: none;
    background-color: transparent;
  }

  #introcontent h1 {
    font-size: 4em;
    line-height: 1em;
    font-weight: bold;
    margin-top: -.25em;
  }

  #line {
    width: 18em;
    margin-top: -1em;
    margin-bottom: 1em;
  }

  #introcontent h2 {
    font-size: 1.5em;
    line-height: 1em;
  }

  #codingcontent, #designcontent {
    display: inline;
  }

  .portfolioproject {
    width: auto;
  }

  .projecticon {
    width: 90vw;
    height: auto;
  }

  #aboutcontent p {
    width: 65vw;
  }

  #profiledescription {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    width: auto;
  }

  #importantinfo {
    display: block;
  }

  #bio {
    flex-direction: column;
    text-align: center;
    height: auto;
  }

  #codingpage, #designpage, #aboutpage {
    margin-top: -1em;
  }

  #aboutpage {
    height: 80vh;
  }

  #profilepic {
    width: 60vw;
    height: 60vw;
  }

  .designcontent {
    display: block;
  }

  .designcontent img {
    height: 70%;
    width: 70%;
  }

  .projectcontent p {
    margin-left: 5em;
    margin-right: 5em;
    text-shadow: none;
    font-style: none;
    font-weight: bold;
    font-size: .75em;
    text-align: left;
    width: auto;
  }


}

@media screen and (max-width: 650px) {
  ul.topnav.mobile {
    position: static;
  }
  ul.topnav.mobile li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.mobile li {
    display: block;
  }
  ul.topnav.mobile li a {
    display: inline;
  }
}

/**********************/

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* These selection rule sets have to be separate.
* Customize the background color to match your design.
*/

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
* A better looking default horizontal rule
*/

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
* Remove the gap between audio, canvas, iframes,
* images, videos and the bottom of their containers:
* https://github.com/h5bp/html5-boilerplate/issues/440
*/

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
* Remove default fieldset styles.
*/

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/

textarea {
  resize: vertical;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Helper classes
========================================================================== */

/*
* Hide visually and from screen readers
*/

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
EXAMPLE Media Queries for Responsive Design.
These examples override the primary ('mobile first') styles.
Modify as content requires.
========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
Print styles.
Inlined to avoid the additional HTTP request:
http://www.phpied.com/delay-loading-your-print-css/
========================================================================== */

@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important; /* Black prints faster:
    http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
  * Don't show links that are fragment identifiers,
  * or use the `javascript:` pseudo protocol
  */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
  * Printing Tables:
  * http://css-discuss.incutio.com/wiki/Printing_Tables
  */

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
